* {
  /*background: white;*/
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

html {
  width: 100%;
}

.navBar {
  margin-top: 10px;
  margin-bottom: 60px;
  height: 30px;
}

.title {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  /*background: #f5ddd8;*/
}

.logo {
  height: auto;
}
.titre2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  height: 20px;
}
.slid {
  background: gray;
  height: 700px;
  width: auto;
}

.b1 {
  /*border: gray 2px solid;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  /*
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 3%;*/
}

.box {
  background: #ede7e7;
  height: 550px;
  margin-bottom: 2%;
  display: flex;
  justify-content: space-around;
}

.b2 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.box2 {
  height: 400px;
  width: 40%;
  /*width: 50%;*/
  border: gray 20px solid;
}

.contact {
  background: #f5ddd8;
  display: flex;
  flex-direction: column;
  height: 700px;
}

.bu {
  height: 40px;
  width: 100px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 100%;
  background: #000000;
}
.f1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  background: #000000;
}
.coordonnées {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 1%;
}

.fab {
  display: flex;
  justify-content: center;
  color: white;
  margin: 4%;
}
